.nav {
    position: absolute;
    display: grid;
    grid-template-rows: 2vh 2vh 2vh 2vh 2vh;
    /* grid-template-columns: 300px 60px; */
    row-gap: 1.5vh;
    right: 1rem;
    top: 1rem;
    transition: opacity 0.5s;
    z-index: 5;
    /* pointer-events: none; */
    color: black;
    font-family: "Input Mono Light";
    font-size: 2vh;
    text-align: right;
    text-transform: uppercase;
}

.title {
    position: absolute;
    left: 2rem;
    top: 2rem;
    transition: opacity 0.5s;
    z-index: 5;
    /* pointer-events: none; */
    color: black;
    font-family: 'Share+Tech+Mono', monospace;
    font-size: 6vh;
    text-transform: uppercase;
    /* writing-mode: vertical-lr; */
    /* text-orientation: upright; */
    text-decoration: none;
}

.title:hover {
    color: #16D0F5;
}

.button {
    padding: 0;
    text-decoration: none;
    color:black;
    line-height: 0px;
}

.button:hover{
    color:#063aca;
}
