.nav {
    position: absolute;
    display: grid;
    grid-template-rows: 2vh 2vh 2vh;
    /* grid-template-columns: 300px 60px; */
    row-gap: 1.5vh;
    right: 1rem;
    top: 1rem;
    transition: opacity 0.5s;
    z-index: 5;
    /* pointer-events: none; */
    color: white;
    font-family: "Input Mono Light";
    font-size: 2vh;
    text-align: left;
}

.title {
    position: absolute;
    left: 1rem;
    top: 2rem;
    transition: opacity 0.5s;
    z-index: 5;
    /* pointer-events: none; */
    color: white;
    font-family: "Input Mono Light";
    font-size: 4vh;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-decoration: none;
}

.title.loaded:hover {
    color: #F67D2F;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes move-in {
    0% {
        color: #4E81FF;
        opacity: 0;
    }
    1% {
        color: #4E81FF;
        opacity: 1;
    }
    100% {
        /* color: #fff; */
        opacity: 1;
    }
}

.home-button {
    height: fit-content;
    /* position: absolute; */
    /* left: 1rem; */
    text-decoration: none;
    color: white;
    padding-bottom: 10px;
    /* border: 1px solid black; */
    line-height: 0px;
    text-align: right;
}

.home-button:hover p {
    color: #F67D2F;
}

.vis-button {
    /* position: absolute; */
    /* left: 1rem;
    top: 1.5rem; */
    text-decoration: none;
    color: white;
    line-height: 0px;
    opacity: 0;
}

.vis-button:hover p {
    color: #F67D2F;
}

.abt-button {
    height: fit-content;
    padding: 0;
    /* text-align: right; */
    /* position: absolute; */
    /* left: 5.5rem; */
    /* top: 3rem; */
    text-decoration: none;
    color: white;
    /* border: 1px solid black; */
    line-height: 0px;
    opacity: 0;
}

.abt-button:hover p {
    color: #F67D2F;
}

.dat-button {
    height: fit-content;
    line-height: 0px;
    /* text-align: right; */
    /* position: absolute; */
    /* left: 1.7rem; */
    /* top: 1.5rem; */
    text-decoration: none;
    color: white;
    /* border: 1px solid black; */
    opacity: 0;
}

.dat-button:hover p {
    color: #F67D2F;
}

.first {
    opacity: 0;
}

.eighth {
    opacity: 0;
}



.title.loaded .first {
    animation: fade-in 1.5s 0.1s 1;
    animation-fill-mode: forwards;
}

.title.loaded .eighth {
    animation: fade-in 1.5s 1 1.0s;
    animation-fill-mode: forwards;
}

.nav.loaded .dat-button {
    animation: fade-in 1.5s 1 2.0s;
    animation-fill-mode: forwards;
}

.nav.loaded .vis-button {
    animation: fade-in 1.5s 1 2.5s;
    animation-fill-mode: forwards;
}

.nav.loaded .abt-button {
    animation: fade-in 1.5s 1 3.0s;
    animation-fill-mode: forwards;
}