.nav {
    position: absolute;
    display: grid;
    grid-template-rows: 2vh 2vh 2vh;
    /* grid-template-columns: 300px 60px; */
    row-gap: 1vh;
    left: 1rem;
    top: 0.5rem;
    transition: opacity 0.5s;
    z-index: 5;
    /* pointer-events: none; */
    color: black;
    font-family: "Input Mono Light";
    font-size: 2vh;
    text-align: left;
}

.home-button {
    height: fit-content;
    /* position: absolute; */
    /* left: 1rem; */
    text-decoration: none;
    color: black;
    padding-bottom: 10px;
    /* border: 1px solid black; */
    line-height: 0px;
    text-align: left;
}

.home-button:hover p {
    color: #FA2742;
}

.vis-button {
    /* position: absolute; */
    /* left: 1rem;
    top: 1.5rem; */
    text-decoration: none;
    color: black;
    line-height: 0px;
}

.vis-button:hover p {
    color: #FA2742;
}

.abt-button {
    height: fit-content;
    padding: 0;
    /* text-align: right; */
    /* position: absolute; */
    /* left: 5.5rem; */
    /* top: 3rem; */
    text-decoration: none;
    color: black;
    text-align: right;
    /* border: 1px solid black; */
    line-height: 0px;
}

.abt-button:hover p {
    color: #FA2742;
}

.dat-button {
    height: fit-content;
    line-height: 0px;
    /* text-align: right; */
    /* position: absolute; */
    /* left: 1.7rem; */
    /* top: 1.5rem; */
    text-decoration: none;
    color: black;
    /* border: 1px solid black; */
}

.dat-button:hover p {
    color: #FA2742;
}