body {
    width: 100vw;
    height: 400vh;
    margin: 0;
    display: block;
    /* overflow: hidden; */
    background-color: #ffffff;
}

.page {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.centered-content {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.grid {
    margin: auto auto;
    display: inline-grid;
    padding: 5%;
    width: 20%;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;

    row-gap: 5%;
    column-gap: 5%;
}

.grid-cell  {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 1%;
    top:  1%;
    line-height: 50px;
}

.project {
    display: inline-grid;
    grid-template-rows: 60% 40%;
}

a {
    text-decoration: none;
    color: black;
}