.header {
    padding-bottom: 20px;
    margin-bottom: 20px;
    display: inline;
    text-align: center;
}

.tooltip {
    position: absolute;
    font-size: 15px;
    min-width: 120px;
    padding: 15px;
    pointer-events: none;
    background-color: #eff6fc;
    text-align: left;
    border-radius: 5px;
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.graphs-container{
    display: inline;
    width: 100vw;
    height: 100vh;
}

.reg-container{
    height: 80vh;
}

.gap-container{
    display: block;
    justify-content: center;
    text-align: center;
}

.reg-container {
    display: block;
    justify-content: center;
    text-align: center;
}

body{
    background-color: rgba(231,239,246, 0.9) !important;
    width:100vw;
    padding: 0;

}

.crop-container{
    display: block;
    margin-top: 5vh;
    margin-bottom: 10vh;
    height: 6vh;
    justify-content: center;
    text-align: center;
}

.crop-controls{
    width: 100vw;
    display: inline;
    justify-content: center;
    text-align: center;
}

#attrInput{
    width: 100px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.state-query-controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-controls{
    width = 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=text] {
  width: 120px;
  height: 175%;
  padding: 13px 8px;
  box-sizing: border-box;
  border: 1px solid #4b86b4;
  color: #345d7d;
}

input[type=text]::placeholder {
  color: #b7cee1;
}

.graph-caption {
    margin-bottom: 2.5vh;
}

.title-caption {
    font-size: 20px;
}


button{
    background-color: #4b86b4;
    color: white;
    padding: 12px;
    width: 100px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

.title-caption {
    color: #2a4d69;
}


.year-button:disabled {
    background-color: #e1c9b7;
    box-shadow: inset 0px 0px 5px #666666;
}

.crop-button:disabled {
    background-color: #e1c9b7;
    box-shadow: inset 0px 0px 5px #666666;
}

.state-button:active{
    background-color: #e1c9b7;
    box-shadow: inset 0px 0px 5px #666666;
}

button:focus {
    outline: 0 !important;
}